<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


    <title>Document</title>
</head>
<body>
    
    <h1>Form</h1>
    <form id="post-form" method="POST">
        {% csrf_token %}
        <p>Name</p><input type="text" name="name" id="name" /> <br>
        <p>Email</p><input type="email" name="email" id="email" /> <br>
        <p>Bio</p><input type="text" name="bio" id="bio" /> <br>
        <input type="submit" />
    </form>

    <script>
        $(document).on('submit', '#post-form', function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url: "/create",
                data:{
                    name:$('#name').val(),
                    email:$('#email').val(),
                    bio:$('#bio').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                },

                success: function(data){
                  alert(data);
                }
            });
        });
                        
    </script> 


</body>
</html>